In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/data.csv')
df.head(5)

,RESOLUTION,TICKET_COUNT,TICKET_TYPE,MONTH
0,Bill Start Date Update for Data Orders,1,Service Request,Jan2022
1,Old charge Id update in the latest MACD order,1,Incident,Jan2022
2,Termination Date Update for Data Orders,2,Service Request,Jan2022
3,Pilot activity - City Configuration,1,Service Request,Jan2022
4,Circuit Fetching - PO details Updated for Cram...,1,Incident,Jan2022

In [26]:
lbl = df.loc[df['TICKET_TYPE'] == 'Incident', 'RESOLUTION']
labels = [rows for rows in lbl]
labels

['Old charge Id update in the latest MACD order',
 'Circuit Fetching - PO details Updated for Cramer fetched circuit',
 'Charge Transfer - SECS Change order',
 'Backend Update - Charge for Tiger Voice Orders',
 'Supplier/Customer Migration/Numbering Plan Change Request',
 'Order closure - XML Failure',
 'Backend Update - Service Precedence and Service Abbreviation',
 'Application Latency - Multi user sessions']

In [28]:
val = df.loc[df['TICKET_TYPE'] == 'Service Request', 'TICKET_COUNT']
values = [rows for rows in val]
values

[1, 2, 1, 2, 5, 1, 1, 3]

In [23]:
import os
path = os.path.join(os.getcwd(), 'data', 'data.csv')
path

'c:\\python\\tt-chart\\data\\data.csv'

In [3]:
df1 = pd.read_csv('./data/data_cur.csv')
df1.head(5)

,RESOLUTION,TICKET_COUNT,TICKET_TYPE,MONTH
0,Bill Start Date Update for Data Orders,1,Service Request,Mar2022
1,Old charge Id update in the latest MACD order,1,Incident,Mar2022
2,Termination Date Update for Data Orders,2,Service Request,Mar2022
3,Pilot activity - City Configuration,1,Service Request,Mar2022
4,Circuit Fetching - PO details Updated for Cram...,1,Incident,Mar2022

In [4]:
mon = df1['MONTH'].unique()
mon

array(['Mar2022'], dtype=object)